table, th, td {
	border-style: solid;
	border-width: 1px;
}

tbody th {
	font-weight: normal;
	font-style: italic;
}

tbody tr:nth-of-type(odd)
{
	background-color: fuchsia;
}

tbody tr:nth-of-type(even)
{
	background-color: aqua;
}

.outer-content {
	background-color: pink;
	height: 60px;
	width: 75%;
	margin-top: 20px;
}

.inner-content {
	background-color: blue;
	height: 20px;
	width: 75%;
	margin: 0 auto;
	position: relative;
	top: 20px;
	text-align: center;
}

