.container {
	/*width: 850px;*/
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#navigation {
	font-size: 20px;
	float: right;
	width: 120px;
	border: 1px solid black;
	display: inline-block;
	margin: 10px 20px 10px 20px;
	padding: 10px;
	background-color: #99c2ff;
	border-radius: 10px;
}

#navigation ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#navigation p {
	margin: 0px;
}

h1 {
	font-size: 48px;
	background-color: #ebebe0;
	border-radius: 6px;
	padding: 8px;
}

#author {
	background-color: #ebebe0;
	border-radius: 6px;
	padding: 8px;
	display: inline;
	font-size: 24px;
}

h2 {
	font-size: 36px;
}

p, ul {
	font-size: 18px;
}

pre {
	font-size: 16px;
	background-color: #ebebe0;
	border-radius: 6px;
	padding: 4px;

	/*white-space: normal;*/ /*doesn't work*/ 
	/*word-break: break-all;*/ /*breaks words in the middle as well*/

	overflow: auto;
	
	/*
	word-wrap: break-word;
	white-space: pre-wrap;
	*/
}

code {
	font-size: 90%;
	color: red;
	background-color: #ebebe0;
	border-radius: 4px;
	margin: 2px;
}

.button {
	padding: 10px 15px 10px 15px;
	background-color: #99c2ff;
	color: black;
	border: 1px solid black;
	text-decoration: none;
	margin-bottom: 32px;
}

#prev {
	float: left;
}

#next {
	float: right;
}